.my_class{
    background-color: yellow;
}

.card{

    display: block;
    direction: rtl;
}

.Border-Directive{
    border-radius: 25px ;
    box-shadow: 5px 5px;

    transition: all ease-in-out 1s;

}